pkgbase = dukelinux-keyring
	pkgdesc = Dukelinux keyring
	pkgver = 20240812
	pkgrel = 3
	url = https://dukelinux.org/
	install = dukelinux-keyring.install
	arch = any
	license = GPL
	source = https://raw.githubusercontent.com/dukelinux/dukelinux-keyring/main/Makefile
	source = https://raw.githubusercontent.com/dukelinux/dukelinux-keyring/main/dukelinux.gpg
	source = https://raw.githubusercontent.com/dukelinux/dukelinux-keyring/main/dukelinux-revoked
	source = https://raw.githubusercontent.com/dukelinux/dukelinux-keyring/main/dukelinux-trusted
	validpgpkeys = 1654964F655779070C9FCB50F8C629A0EBCA8D6A
	sha256sums = 30201d1deadb91fe24e7f8c4e2613b86937d7a8131b4c72fe4a0996e8cbbe834
	sha256sums = 10a0e071d7eb3f6c7c0413a4d7c1f2298a8982d1e457399f20bae322423fa3fd
	sha256sums = e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
	sha256sums = 3db0fbb91b824033143e4adfde512826b8eedc59f91fc89e1c95ca02bcf4a508

pkgname = dukelinux-keyring
